{% extends 'carpredictor/master.html' %}

{% block title %}
List of Cars
{% endblock %}

{% block content %}
<h1 class=".container-fluid text-center pt-5">List of Cars</h1>
<a class="btn btn-success" href = "{% url 'carpredictor:GetCarData' %}" role="button">Get More Data</a><br>
<h4 class=".container-fluid text-center pt-5">Car List:</h4>
{% for car in car_list %}
    <div class="card bg-secondary">
        <p class="card-header">{{car.created}}</p>
        <h4 class="card-title">{{car.name}}</h4>
        <p class="card-text">{{car.year}}, {{car.km}}km, {{car.description}}</p>
        <p class="card-text"><strong>{{car.price}}</strong></p>
    </div>
{% endfor %}

{% endblock %}